.footer{
        background-image: url('../../images/footer_bg.png');
width: 98.6%;
min-height: max-content;
padding: 10px;
}
.footerFirstContainer{
    display:grid;
    grid-template-columns: 15% 45% 40%;
    /* border: 1px solid white; */
    width: 80%;
    height: 100px;
    margin-left: 100px;
    margin-top: 30px;
  padding-bottom: 55px;
    border-bottom: 1px solid #12345b;
}
.footerFirstContainer h2{
color: #fff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 26px;
}
.ffcbox1{
    margin-top: 2.6vh;
    /* width: 150px; */
    /* line-height: 50px; */

}
.ffcbox2{
    margin-top: 5vh;
     padding-left: 30px;

}
.emailForm input{
    outline: none;
        width: 100%;
    box-sizing: border-box;
    background: #fff;
    color: #646464;
    min-height: 51px;
    border-radius: 2px;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding-right: 140px;
    border-radius: 50px;
}
.emailForm button{
    
       border: none;
    background: #1d99ff;
    color: #fff;
    padding: 11px 35px 11px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    right: 5px;
    border-radius: 50px;
}
.ffcbox3{
padding-left: 50px;
}
.ffcbox3 h4{
        color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
        position: relative;
    top: 10px;
    /* padding: 4px 0px; */
}
.ffcbox3 p {
        color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0px;
    /* padding-top: 3px; */
}
.footerSecondContainer{
    /* border: 1px solid white; */
    margin-top: 10px;
    width: 80%;
    height: 100px;
    margin-left: 100px;
    padding: 20px;
    display:grid;
grid-template-columns: 18% 18% 18% 18%;
}
.fscbox1{
    /* border: 1px solid white; */
    /* width:20%; */
    /* display:inline-block */

    
}
.fscbox1 h2{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    border-left: solid #007dea 4px;
    margin-bottom: 20px;
    line-height: normal;
}
.fscbox1 p {
        color: #7b9bbf;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}.fscbox1 p:hover{
        color: #fff;
}
